name: Build and publish docker images to registry
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free disk space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
          # Remove Julia
          sudo rm -rf /usr/local/julia*
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
      - name: Login to Docker Hub
        run: docker login -u michalmusil -p ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build all docker images
        run: chmod +x deploy/evaluation-tool/build-images.sh && deploy/evaluation-tool/build-images.sh
      - name: Push all built images to Docker Hub
        run: chmod +x deploy/evaluation-tool/push-images.sh && deploy/evaluation-tool/push-images.sh
